.container {
  padding: 0 24px;
  .burger_icon {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding: 0 36px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}
